<div class="container">
  <nav>
    <img src="/assets/images/LogoABOCfinal.png" alt="" class="logo" />
    <ul>
      <li><a routerLink="/">Accueil</a></li>
      <li><a routerLink="qui-sommes-nous">Qui sommes nous</a></li>
      <li><a routerLink="mosquée-maryam">Mosquée</a></li>
      <li><a routerLink="école">École</a></li>
      <li><a routerLink="contact">Contact</a></li>
      <li><a routerLink="ressources">Ressources</a></li>
      <li><a routerLink="évènements">Évenement</a></li>
      <li><a routerLink="don">Don</a></li>
      <li><a href="https://mawaqit.net/fr/maryam-caen">Horaire de prière</a></li>
    </ul>
  </nav>

  <section class="site-container">
    <p>Bienvenu à</p>
    <h1>ASSOCIATION BRAS OUVERTS DE CAEN</h1>
    <h2>MOSQUÉE MARYAM</h2>

    <div class="row">
      <a href="adhésion-bénévolat">Adhesion/bénévolat</a>
      <a href="dorous">Dourous <span>&#x27f6;</span></a>
      <span>
						<h2> <bdi>مسجد السيدة مريم</bdi> </h2>
					</span>
    </div>
  </section>
  <footer>
    <section class="social-icons">
      <a href="https://github.com/"><img src="/assets/images/github-fill.png" alt=""></a>
      <a href="https://instagram.com/"><img src="/assets/images/instagram-fill.png" alt=""></a>
      <a href="#"><img src="/assets/images/telegram-fill.png" alt=""></a>
    </section>
  </footer>
</div>
